* {
  color: #d8dee9;
  margin: 0;
  padding: 0;
  font-size: large;
}

body {
  background-color: #2e3440;
  padding: 12px 4px 4px 4px;
}

.activated{
  display: inline-block;
}
.deactivated{
  display: none;
}

.add-todo-textbox {
  padding: 8px 16px;
  background-color: #3b4252;
  border: 1px solid #434c5e;
  border-radius: 4px;
  color: #d8dee9;
  flex-grow: 1;
}

.add-todo-textbox:focus {
  outline: none;
  border: 1px solid #4c566a;
}

.add-todo-btn {
  background-color: #3b4252;
  border: 1px solid #434c5e;
  border-radius: 4px;
  color: #d8dee9;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.approve-todo-btn {
  background-color: #a3be8c;
  border: 1px solid #434c5e;
  border-radius: 4px;
  color: #3b4252;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.cancel-todo-btn {
  background-color: #bf616a;
  border: 1px solid #434c5e;
  border-radius: 4px;
  color: #d8dee9;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.container {
  max-width: 70%;
  margin: auto;
}

.add-section{
  display: flex;
  gap: .75dvw;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: .75dvw;
  padding: 8px 8px;
  border-bottom: 1px solid #4c566a;
}

.todo-item:first-child {
  border-top: 1px solid #4c566a;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.todo-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.todo-list{
  margin-top: 2dvh;
  margin-bottom: 2dvh;
  display: flex;
  flex-direction: column;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checeked-label {
  text-decoration: line-through;
  text-underline-offset: 4px;
}

.buttons-div {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.edit {
  margin-left: auto;
  cursor: pointer;
  font-size: 18px;
  color: #ebcb8b;
}

.trash {
  margin-left: auto;
  cursor: pointer;
  font-size: 18px;
  color: #bf616a;
}

.edit-todo-textbox {
  font-size: medium;
  padding: 4px 8px;
  background-color: #3b4252;
  border: 1px solid #434c5e;
  border-radius: 4px;
  color: #d8dee9;
  width: 60%;
}

.cancel-edit-btn {
  background-color: #bf616a;
  border: 1px solid #434c5e;
  border-radius: 4px;
  color: #d8dee9;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.approve-edit-btn {
  background-color: #a3be8c;
  border: 1px solid #434c5e;
  border-radius: 4px;
  color: #3b4252;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}